<!DOCTYPE html>

<div class="container">
  <div class="logo">
      <img src="https://image.shutterstock.com/image-vector/vintage-ski-arctic-expeditions-logotype-260nw-526381318.jpg" alt="Logo" title="SKI"/>
  </div>


  <div class="center">
    <div class="text" align="center">
      DU SKI BORDEL !
    </div>
    <div class="navbar">
      <ul>
        <li><a href="https://www.youtube.com/watch?v=Fz4F2X1xSc8">Fun</a></li>
        <li><a href="https://www.youtube.com/watch?v=RgTjl4_h4Kg">Poudre</a></li>
        <li><a href="https://www.youtube.com/watch?v=vhHBr7bjyVA">Freestyle</a></li>
      </ul>
    </div>
  </div>

  <div class="dropdown">
    <img class="dropbtn" src="http://image.noelshack.com/fichiers/2018/46/1/1542020111-1542017954-grave-580x440.jpg" alt="Avatar" title="freeride"/>
    <div class="dropdown-content">
      <a href="https://www.stoeckli.ch/chfr/ski/skis/freeride-tour/stormrider-95-184-1-41040519"> Enforcer 100 </a>
      <a href="https://www.nordica.com/skis/mens/freeski/enforcer/enforcer-100-flat/">Stormrider 95</a>
      <a href="https://www.voelkl.com/fr/produits/ski/freeride/m5-mantra-3213/">Mantra</a>
    </div>
  </div>

</div>
