<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>


    <div class="tabs">

    		<div class="tab">
    			<input name="checkbox-tabs-group" type="radio" id="checkbox1" class="checkboxtab" checked>
    			<label for="checkbox1">Stormrider 95</label>
    			<div class="content">
            <div class="card">
              <div class="picture">
                <img src="https://www.sports-aventure.fr/media/catalog/product/s/t/stockli_stormrider_95_2018_.jpeg" alt="Denim Jeans" style="width:100%">
              </div>
                <div class="category">
                  STÖCKLI STORMRIDER 95
                </div>
              <h4>DESCRIPTION:</h4>
              <p>Le SR 95 est dans son élément aussi bien sur que hors des pistes. Comme tous les SR, le design est imprimé directement sur la surface Titanal. Avec son Powder Rocker, il est resistant en torsion, stable en courbe et néanmoins très léger. Ce ski a été pensé et conçu pour surmonter sans difficultés tous les terrains et conditions de neige. Un ski qui semble lire vos pensées et qui les transpose immédiatement sur la neige.</p>
              <p><a href="http://www.skipass.com/guide-matos/stockli/stormrider-95.html" class="black_button">Tests du modèle 2019</a></p>
            </div>
    			</div>
    		</div>

    		<div class="tab">
    			<input name="checkbox-tabs-group" type="radio" id="checkbox2" class="checkboxtab">
    			<label for="checkbox2">Mantra</label>
    			<div class="content">
            <div class="card">
              <div class="picture">
                <img src="https://www.sports-aventure.fr/media/catalog/product/cache/1/image/3a7e243f5e32cf6fb822b4e560b504ba/v/o/volkl_mantra_2019_1.jpg" alt="Denim Jeans" style="width:100%">
              </div>
                <div class="category">
                  VÖLKL MANTRA
                </div>
              <h4>DESCRIPTION:</h4>
              <p>On ne change pas une équipe qui gagne! Modèle de référence, le Mantra conserve le même shape et design Full Rocker. La construction en titane reste elle aussi inchangée pour une transmission maximale des forces. Le Mantra offre ainsi toujours grande polyvalence, avec une plage d'utilisation extrêmement large, des performances directes et précises sur piste, et un comportement ludique et adapté au hors-piste.</p>
              <p><a href="http://www.skipass.com/guide-matos/volkl/mantra.html" class="black_button">Tests du modèle 2019</a></p>
            </div>
    			</div>
    		</div>

    		<div class="tab">
    			<input name="checkbox-tabs-group" type="radio" id="checkbox3" class="checkboxtab">
    			<label for="checkbox3">Enforcer 100</label>
    			<div class="content">
            <div class="card">
              <div class="picture">
                <img src="https://images.evo.com/imgp/700/114836/476554/clone.jpg" alt="Denim Jeans" style="width:100%">
              </div>
                <div class="category">
                  NORDICA ENFORCER 100
                </div>
              <h4>DESCRIPTION:</h4>
              <p>Pour permettre une glisse extrêmement fluide et stable, ce ski combine un noyau entièrement en bois avec deux feuilles de métal. En plus d'atténuer les vibrations, cette conception améliore la stabilité et la réactivité. Enfin, la spatule early rise et le rocker au talon ainsi que la cambrure traditionnelle sous le pied assurent une meilleure flottaison dans la neige molle et inspirent confiance dans les conditions variables.</p>
              <p><a href="http://www.skipass.com/guide-matos/nordica/enforcer-1.html" class="black_button">Tests du modèle 2019</a></p>
            </div>
    			</div>
    		</div>

    	</div>

</html>
