.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  padding: 20px;
  margin: auto;
  text-align: center;
  font-family: 'Oswald', sans-serif;
}

.card:hover {
  box-shadow: 1px 1px 60px #C9C9C9;
}



.price {
  color: grey;
  font-size: 24px;
  font-family: 'Oswald', sans-serif;
  display: flex;
  justify-content: center;
}

.category {
      font-family: 'Oswald', sans-serif;
      font-size: 22px;
}

.card h4 {
      font-family: 'Oswald', sans-serif;
      font-size: 18px;
}

.card p {
      font-family: 'Oswald', sans-serif;
      font-size: 16px;
}

.card img {
  border-radius: 2px;
}
.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #262626;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  font-family: 'Oswald', sans-serif;
  border-radius: 2px;
}

.card button:hover {
  opacity: 0.90;
}

.card a:link, a:visited {
    text-decoration: none;
    color: white;
}

.card a:hover {
    text-decoration: underline;
    color: white;
}
