
footer {
  position: absolute;
  bottom: 0;
  background-color: #19334d;
  color: white;
  height: 76px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-family: 'Oswald', sans-serif;
  padding: 0;
  margin: 0;
}

footer ul {
  display: flex;
  flex-direction: row;
  align-items: left;
}

footer li {
  list-style: none;
  padding: 5px;
}

footer img {
    border-radius: 50%;
    height: 30px;
    width: auto;
    background-color: white;
}

footer img:hover {
  box-shadow: 1px 1px 20px #F8FBF7;
}

.copyright {
  padding-right: 5px;
}
