

.container {
  color: white;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid white 1px;
}

.text {
font-family: "Montserrat";
font-size: 70px;
}
