

.container {background-color: #343C44;
  color: white;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text {
font-family: "Montserrat";
font-size: 70px;
}
