@import "components/*";



 body {
   position: relative;
   padding-bottom: 100px;
   background-color: #adc2eb;
   background-image: url(https://www.imgbase.info/images/safe-wallpapers/photography/mountains/15468_mountains_snowy_mountains.jpg);
   margin: 0;
 }
