@import "components/*";



 body {
   position: relative;
   padding-bottom: 100px;
   background-color: #adc2eb;
   background-image: url(http://image.noelshack.com/fichiers/2018/46/2/1542128168-background-image.jpg);
   margin: 0;
 }
